<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <%#= link_to "Show this item", 'items/item', item: @items.find(1) %>
      <%#= link_to "Show this item", hotel_items_path(@hotel , :items) %>
      <%= link_to "Show this item", [@hotel, item] %>
    </p>
  <% end %>
</div>

<%= link_to "New item", new_hotel_item_path %>
